<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">
        Sejá bem-vindo a plataforma digital Fabricante!
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        Essa plataforma tem o objetivo de mostrar principais caracteristicas de uma aplicação Angular,
        essa aplicação está conectada com um backend Spring Boot com base de dados MongoDB, para demonstrar integração entre
        frontend e backend.
    </mat-card-subtitle>

    <!-- DIRETIVAS ESTRUTURAIS -->
    <!-- <ul>
        <li *myFor="let n in [1, 2, 3] using 'teste'">{{ n }}</li>
    </ul> -->
</mat-card>
<mat-card class="logo mat-elevation-z3">
    <a>
        <img src="assets/img/logo-f.png" alt="logo">
    </a>
</mat-card>