.footer {
    position: fixed;
    bottom: 0;

    display: flex;
    justify-content: flex-end;

    width: 100%;
    height: 5%;
    color: black;
}

.footer > span {
    font-size: 1.5rem;
    line-height: 2.1;
    font-weight: 100%;
}