.btn-create {
    margin: 15px 0px 15px 0px;
    background-color: purple;
}

.btn-goback {
    margin: 0px 15px 15px 15px;
    background-color: purple;
}

.btn-delete {
    margin: 0px 0px 0px 0px;
    background-color: black;
    color: purple;
}

.btn-div {
    align-items: center !important;
    justify-content: center !important;
}